<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="dataSourceTopaze"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">

		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://ns300088.ovh.net/topazeweb" />
		<property name="username" value="wiseam" />
		<property name="password" value="top2017aze!" />
	</bean>
	
	<bean id="dataSourceWiseam"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">

		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/Wiseam" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>
	
	<bean id="sessionFactoryTopaze" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
	  <property name="dataSource"> <ref bean="dataSourceTopaze"/> </property>
	  <property name="hibernateProperties">
	        <props>
	            <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
	            <prop key="hibernate.hbm2ddl.auto">validate</prop>
	            <prop key="hibernate.show_sql">true</prop>
	        </props>
	   </property>
	</bean>
	
	<bean id="sessionFactoryWiseam" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
	  <property name="dataSource"> <ref bean="dataSourceWiseam"/></property>
	  <property name="packagesToScan" value="model" />
	    <property name="hibernateProperties">
	        <props>
	            <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
	            <prop key="hibernate.hbm2ddl.auto">create</prop>
	            <prop key="hibernate.show_sql">true</prop>
	        </props>
	    </property>
	</bean>
	
</beans>